{{#liquid-bind model use="toLeft" class="three-liquid-container" as |currentModel|}}
  {{three-container scale=scale partyMode=partyMode shapeData=model}}
{{/liquid-bind}}

<div class="controls-container">
  <input class="scale-slider"
         type="range"
         min="0.05"
         max="2.0"
         step=".05"
         defaultValue="1.0"
         value={{scale}}
         oninput={{action (action "updateScale")}}
         onchange={{action (action "updateScale")}}
         />

  <div>
    <button {{action "nextShape"}} class="next-shape-button">Next Shape</button>
    <br />
    <label class="party-mode-checkbox">
      {{one-way-checkbox isPartyMode update=(action "updatePartyMode")}}
      Party Mode
    </label>
  </div>
</div>
